* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*TODO DEL NAVBAR------------------------------------------------------------------------------------------------------------*/
header{
    background-color: #8cc2ff;
    position: fixed;
    width: 100%;
    padding-bottom: 4px;
}

header a{
    /*color para los elementos*/
    color: white;
    text-decoration: none;
}


header ul li{
    /*todos los elementos se coloquen a un lado del otro*/
    display: inline-block;
}

header ul li a{
    display: block;
    padding: 0.3rem 0.8rem;
    margin-top: 0.5rem;
    transition: all 0.4s;
    border-radius: 3px;
}

/* #menu ul li {
    background-color:#8cc2ff;
} */

/* #menu ul {
    list-style:none;
} */


#menu ul li {
    background-color:#8cc2ff;
    position:relative;
    float:left;
    margin:0;
    padding:5px;
}

/* #menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
} */
/* 
header ul ul li {
    float:none;
    width:150px
} */

#menu ul li a:hover{
    background-color: #EAEDED;
    color: rgb(87, 48, 197);
    text-decoration: none;
}

.minavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;/*alineamos al centro verticalmente del contenedor*/
    flex-wrap: wrap;/*pasa los elementos abajo si no caben*/
}

.logo{
    width: 50px;
    height: 50px;
}

/*FIN TODO DEL NAVBAR--------------------------------------------------------------------------------------------------------*/

.card  {
    width: 300px;
    height: 350px;
    border-radius: 15px;
    background-color: aliceblue;
    box-shadow: 0 2px 6px rgb(0, 0, 0, 0.4);
    transition: 0.5s;
    text-align: center;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(15, 36, 156, 0.63);
    transition: 0.5s;
}


.myButton {
    position: absolute;
    bottom: 15px;
    right: 20px;
    opacity: 50;
    border-radius: 0.10;
    cursor: not-allowed;
}

.btnRestar {
    background-color: #cc0e0e;
    border: none;
    padding:8px 10px;
    font-size: 1rem;
    margin: 0 .5rem;
    font-weight: bold;
    color: snow;
    border-radius: 0.5rem;
}

.btnRestar:hover {
    cursor: pointer;
    background-color: #ff0e0e;
}

.btnSumar {
    background-color: #077a1a;
    border: none;
    padding: 8px 8px;
    font-size: 1rem;
    margin: 0 .5rem;
    font-weight: bold;
    color: snow;
    border-radius: 0.5rem;
}

.btnSumar:hover {
    cursor: pointer;
    background-color: #00af00;
}


/* .modal {
    position: absolute;
    top: 10px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
 } */

 /* .modal-dialog {
    position: absolute;
    top: 50px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  } */

  #myModal3 {
    top:30%;
    left:31%;
    outline: none;
    overflow:hidden;
}

/*Estilo para la tabla lista*/
.tableList {
    font-size: 12px;
    text-align: center;

}

.tableList th {
    background-color: #8cc2ff;
    color: #EAEDED;
}